.icon {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 36px;
  width: 36px;
  padding: 5px;
  background-color: #f5f511;
  border: 2px solid #c7c70c;
  border-radius: 50%;

  img {
    margin: 0;
  }
}
