.wrapper {
  display: flex;
  align-items: flex-start;
}

.location {
  flex-shrink: 0;
  width: 30px;
  margin: 0 10px 0 0;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #a5bdb4;

  img {
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  img {
    width: 36px;
    margin: 0;
  }
}
