.nav {
  margin: 0 auto;
  max-width: 1000px;
}

.link {
  display: block;
  margin: 0 0 20px;
  padding: 14px;
  color: #cbf8ec;
  background-color: #282c34;
  border: 2px solid #282c34;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  transition: .2s all ease-in-out;

  &:hover, &:focus {
    opacity: .8;
  }
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
