.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;
}

.title {
  margin: 0 28px 10px;
  text-transform: capitalize;
}

.museumPhrase {
  padding: 0 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  img {
    width: 36px;
    margin: 0;
  }
}

.buttonBackWrapper {
  margin-bottom: 20px;
  text-align: left;
}

.buttonBack {
  padding: 10px 20px;
  background-color: #d9f5ea;
  color: #282c34;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s all ease-in-out;

  &:hover, &:focus {
    background-color: #ccecdd;
  }
}
